/*task2*/
.data1 { 
    text-align: center;
    margin-bottom: 1cm; 
}
.datatable { 
    width: 100%;
    border-collapse: collapse;
  }
  .datatable th {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: left;
    border: 1px solid white; 
  }
  .datatable td {
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid white;
  }
  .datstable {
    border: 1px solid white;
  }
/*task1&3*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #f4f4f4;
    padding: 10px 0;
}
.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 ;
    padding: 0;
}
.menu li {
    margin: 0 10px;
}
.center {
    text-align: center;
    color: green;
}
.content {
    margin-bottom: 1cm;
    margin-top: 1cm;
    text-align: center;
    font-style: italic;
    
}
.topics {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
#column {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #aaa;
    

}

#column h2 {
    text-align: center;
}

.hover-link:hover {
    color: blue;
}
.container {
    display: flex;
    flex-wrap: wrap;
  }
  

/*task 4*/
#field{
    background-color: blue;
}
#buttton{
    background-color: orange;
    margin-right: 1cm;
}
#h1{
    text-align: center;
    margin-bottom: 1cm;
}
/*task 5*/
#member{
    font-weight: bold;
}
#list{
    border: 1px solid black;
    width:10%;
}